.titulo{
    background-image: url('https://www.wallpapertip.com/wmimgs/29-291729_729755-title-sci-fi-space-universe-stars-wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fff;
    height: 2cm;
    text-shadow: 2px 3px 2px #000;
    border: double #fff;
    
}


.titulo h1{
    /*text-align: center;
    padding-top: 8px;*/
    display: flex;
    padding-top: 8px;
    justify-content: center;
}

.fondo-body{
    background-image: url('https://cdn.wallpapersafari.com/23/65/xeNZBp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#fondo-login{
    background-image: url('https://fondosmil.com/fondo/35285.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 10px;
    height: 550px;
    width: 400px;
    border: 3px double #fff;
}

#tit-login{
    color: #fff;
    text-shadow: 3px 2px 3px rgb(134, 3, 141) ;
    text-align: center;
    font-size: 30px;
}

.contenedor-boton-l{
    display: flex;
    justify-content: center;
}

#boton-l{
    background-image: url('https://fondosmil.com/fondo/35285.jpg');
    border: 3px double #fff;
    color: #fff;
    text-shadow: 3px 2px 3px rgb(134, 3, 141) ;
    display: flex;
    justify-content: center;
    text-align: center; 
}
/*.casilla-input{
    outline: none;
    background-color: #000;
    border: 0;
    border-bottom: 1px solid rgb(252, 250, 250) ;
    color: white;
   
}*/

#nom-campos-l{
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 3px 2px 3px rgb(134, 3, 141) ;
    font-size: 19px;
   
}


#fondo-register{
    background-image: url('https://fondosmil.com/fondo/34253.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 10px;
    height: 550px;
    width: 400px;
    margin-left: 20px;
    border: 3px double #fff;
}

#tit-register{
    color: #fff;
    text-shadow: 5px 2px 3px #000 ;
    text-align: center;
    font-size: 30px;
    
}

#nom-campos-r{
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px #000;
    font-size: 19px;
}

.contenedor-boton-r{
    display: flex;
    justify-content: center;   
    
}

#boton-r{
    background-image: url('https://fondosmil.com/fondo/34253.jpg');
    border: 3px double #fff;
    color: #fff;
    text-shadow: 5px 2px 3px #000 ; 
    display: flex;
    justify-content: center;
    text-align: center; 
        
}
#campo-input{
    width: 90%;
    margin: auto;
}

#contenedor-lr{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 991px){
    #fondo-login{
        width: 47%;
    }

    #fondo-register{
        width: 47%;
    }
    /*#boton-r{
        margin: auto;
        width: calc(40% - 50px);
    }*/
    .row{
        display:flex;
        width: 100%;
    }
}
@media (max-width: 570px){
    
    .titulo{
        
        width: 99%;
        margin: auto;
                
    }
    .titulo h1{
        padding-top: 15px;
       
    }
    .row{
        width: 100vh;
        margin-top: 30px;
    }
    #fondo-login{
        width: 60%;
        
        
    }
    /*#boton-l{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }*/
    #fondo-register{
        width: 60%;        
        margin: auto;
                
    }
    /*#boton-r{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 50%;       
    }*/
    #contenedor-lr{
       height: 100vh;
       display: flex;      
       justify-content: center;
       align-items: center;
        
    }

}
    @media (max-width: 395px){
              
              
        #fondo-login{
            width: 90%;        
           
           margin-top: 400px;
          
        }
        #fondo-register{
            
            width: 90%;
            margin-top: 4px;
           
        }
}
    
